<html>
  
  <body>
    <div class="relative flex h-auto min-h-screen w-full flex-col bg-slate-50 group/design-root overflow-x-hidden" style='font-family: "Work Sans", "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
        <div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="flex flex-wrap justify-between gap-3 p-4"><p class="text-[#0d171b] tracking-light text-[32px] font-bold leading-tight min-w-72">My Bag (2)</p></div>
            <div class="flex gap-4 bg-slate-50 px-4 py-3 justify-between">
              <div class="flex items-start gap-4">
                <div
                  class="bg-center bg-no-repeat aspect-square bg-cover rounded-lg size-[70px]"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDV7-DXbNvz_ckS5jzSgDKN5W703sZKLGDyqtHYErcOtLO04j3lF1JOm_WxLK4gRaLBHavPVeEXhPMhOFwhD9JWl0HRNriTaPWHc1kAow6eCcmPZzPDREpxFJtHlSsv6jPEWFm7aDHjQMNEsIJKVF2lWtx7p3wLKOx6glMrN2axyKV4xyTx2vPq1o31ge6JksPrmVhkHz3pj3wngxwv5TVfJt7tpjhpIQ-FAPC9FtrB_oSPHLgiAVqH6Xs-m0GSzRFu2IqAeXCV2fSK");'
                ></div>
                <div class="flex flex-1 flex-col justify-center">
                  <p class="text-[#0d171b] text-base font-medium leading-normal">Classic Cotton T-Shirt</p>
                  <p class="text-[#4c809a] text-sm font-normal leading-normal">Quantity: 1</p>
                  <p class="text-[#4c809a] text-sm font-normal leading-normal">Size M</p>
                </div>
              </div>
              <div class="shrink-0"><p class="text-[#0d171b] text-base font-normal leading-normal">$25</p></div>
            </div>
            <div class="flex gap-4 bg-slate-50 px-4 py-3 justify-between">
              <div class="flex items-start gap-4">
                <div
                  class="bg-center bg-no-repeat aspect-square bg-cover rounded-lg size-[70px]"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuApPHs88dZiV3tuZwlu2PPNTPTvnPapwFQI3Iot7yVzODVsTWaqxt20KCPCvpZ4wiL9S8rXB812VDHTjno-MMwwWao9DAEgelNkqtpTRsUmd16_s0zMKR_kDWKPwoRUESN_aYgOv9XR6gDLDjeH4f-NKXXNkdDHNj0uGg3y7KiNhqvarrLLGqYLxZ8jhX45vGkytvLpZiLMy6EWvpXrISrf5u2I37N95ygD0a5xpi8X_HF2eFRULpaIpO6puyYorrD-M4H1Gez5begP");'
                ></div>
                <div class="flex flex-1 flex-col justify-center">
                  <p class="text-[#0d171b] text-base font-medium leading-normal">Comfortable Running Shoes</p>
                  <p class="text-[#4c809a] text-sm font-normal leading-normal">Quantity: 1</p>
                  <p class="text-[#4c809a] text-sm font-normal leading-normal">Size 8</p>
                </div>
              </div>
              <div class="shrink-0"><p class="text-[#0d171b] text-base font-normal leading-normal">$80</p></div>
            </div>
            <h3 class="text-[#0d171b] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">Order Summary</h3>
            <div class="p-4 grid grid-cols-[20%_1fr] gap-x-6">
              <div class="col-span-2 grid grid-cols-subgrid border-t border-t-[#cfdfe7] py-5">
                <p class="text-[#4c809a] text-sm font-normal leading-normal">Subtotal</p>
                <p class="text-[#0d171b] text-sm font-normal leading-normal">$105</p>
              </div>
              <div class="col-span-2 grid grid-cols-subgrid border-t border-t-[#cfdfe7] py-5">
                <p class="text-[#4c809a] text-sm font-normal leading-normal">Shipping</p>
                <p class="text-[#0d171b] text-sm font-normal leading-normal">Free</p>
              </div>
              <div class="col-span-2 grid grid-cols-subgrid border-t border-t-[#cfdfe7] py-5">
                <p class="text-[#4c809a] text-sm font-normal leading-normal">Estimated Tax</p>
                <p class="text-[#0d171b] text-sm font-normal leading-normal">$8.40</p>
              </div>
            </div>
            <div class="p-4 grid grid-cols-[20%_1fr] gap-x-6">
              <div class="col-span-2 grid grid-cols-subgrid border-t border-t-[#cfdfe7] py-5">
                <p class="text-[#4c809a] text-sm font-normal leading-normal">Total</p>
                <p class="text-[#0d171b] text-sm font-normal leading-normal">$113.40</p>
              </div>
            </div>
            <div class="flex px-4 py-3">
              <button
                class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-12 px-5 flex-1 bg-[#1193d4] text-slate-50 text-base font-bold leading-normal tracking-[0.015em]"
              >
                <span class="truncate">Checkout</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
