<html>
  <body>
    <div
      class="relative flex h-auto min-h-screen w-full flex-col bg-slate-50 group/design-root overflow-x-hidden"
      style='--select-button-svg: url(&apos;data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724px%27 height=%2724px%27 fill=%27rgb(76,128,154)%27 viewBox=%270 0 256 256%27%3e%3cpath d=%27M181.66,170.34a8,8,0,0,1,0,11.32l-48,48a8,8,0,0,1-11.32,0l-48-48a8,8,0,0,1,11.32-11.32L128,212.69l42.34-42.35A8,8,0,0,1,181.66,170.34Zm-96-84.68L128,43.31l42.34,42.35a8,8,0,0,0,11.32-11.32l-48-48a8,8,0,0,0-11.32,0l-48,48A8,8,0,0,0,85.66,85.66Z%27%3e%3c/path%3e%3c/svg%3e&apos;); font-family: "Work Sans", "Noto Sans", sans-serif;'
    >
      <div class="layout-container flex h-full grow flex-col">
        <div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
            <div class="flex flex-wrap justify-between gap-3 p-4"><p class="text-[#0d171b] tracking-light text-[32px] font-bold leading-tight min-w-72">Add New Product</p></div>
            <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
              <label class="flex flex-col min-w-40 flex-1">
                <p class="text-[#0d171b] text-base font-medium leading-normal pb-2">Product Name</p>
                <input
                  formControlName="product_name"
                  placeholder="Enter product name"
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-[#0d171b] focus:outline-0 focus:ring-0 border border-[#cfdfe7] bg-slate-50 focus:border-[#cfdfe7] h-14 placeholder:text-[#4c809a] p-[15px] text-base font-normal leading-normal"
                  value=""
                />
              </label>
            </div>
            <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
              <label class="flex flex-col min-w-40 flex-1">
                <p class="text-[#0d171b] text-base font-medium leading-normal pb-2">Product Description</p>
                <textarea
                formControlName="description"
                  placeholder="Describe your product"
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-[#0d171b] focus:outline-0 focus:ring-0 border border-[#cfdfe7] bg-slate-50 focus:border-[#cfdfe7] min-h-36 placeholder:text-[#4c809a] p-[15px] text-base font-normal leading-normal"
                ></textarea>
              </label>
            </div>
            <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
              <label class="flex flex-col min-w-40 flex-1">
                <p class="text-[#0d171b] text-base font-medium leading-normal pb-2">Price</p>
                <input
                  formControlName="price"
                  placeholder="Enter price"
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-[#0d171b] focus:outline-0 focus:ring-0 border border-[#cfdfe7] bg-slate-50 focus:border-[#cfdfe7] h-14 placeholder:text-[#4c809a] p-[15px] text-base font-normal leading-normal"
                  value=""
                />
              </label>
            </div>
             <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
              <label class="flex flex-col min-w-40 flex-1">
                <p class="text-[#0d171b] text-base font-medium leading-normal pb-2">Stock</p>
                <input
                  formControlName="stock"
                  placeholder="Enter Stock"
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-[#0d171b] focus:outline-0 focus:ring-0 border border-[#cfdfe7] bg-slate-50 focus:border-[#cfdfe7] h-14 placeholder:text-[#4c809a] p-[15px] text-base font-normal leading-normal"
                  value=""
                />
              </label>
            </div>
            <div class="w-full my-2">
              <p-multiSelect class="w-full" [options]="categoryLists" formControlName="category_id" placeholder="Select Category" optionValue="category_id" optionLabel="category_name"
                 [showClear]="true" />
            </div>
           <div class="w-full my-2">
              <p-multiSelect [options]="subCategoryLists" formControlName="sub_category_id" placeholder="Select Subcategory" optionValue="subcategory_id" optionLabel="subcategory_name"
                 [showClear]="true" />
            </div>
           
            <!-- <div class="flex flex-col p-4">
              <div class="flex flex-col items-center gap-6 rounded-lg border-2 border-dashed border-[#cfdfe7] px-6 py-14">
                <div class="flex max-w-[480px] flex-col items-center gap-2">
                  <p class="text-[#0d171b] text-lg font-bold leading-tight tracking-[-0.015em] max-w-[480px] text-center">Upload Product Images</p>
                  <p class="text-[#0d171b] text-sm font-normal leading-normal max-w-[480px] text-center">Drag and drop images here, or click to select files</p>
                </div>
                <button
                  class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-[#e7eff3] text-[#0d171b] text-sm font-bold leading-normal tracking-[0.015em]"
                >
                  <span class="truncate">Browse Files</span>
                </button>
              </div>
            </div>
            <div class="flex px-4 py-3 justify-end">
              <button
                class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-[#1193d4] text-slate-50 text-sm font-bold leading-normal tracking-[0.015em]"
              >
                <span class="truncate">Add Product</span>
              </button>
            </div> -->
            <app-image-upload formControlName="image_url"></app-image-upload>
            <button class="bg-purple-500 p-2 my-2 rounded text-white" type="submit">Add Product</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
